

body {
    background-image: url(../images/agate.png);
}

#header {
    background-image: url("https://images.fineartamerica.com/images-medium-large/black-river-stones-landscape-steve-gadomski.jpg");
    padding: 50px 5px 50px 5px;
    width: 100%;
    display: inline-block;
}

#headerText {
    background-color: blue;
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: 'Vast Shadow', cursive;
}

#divBox {
    display: inline-block; 
    width: 80%;
    margin: 20px 10% 20px 10%;
    background-color: darkseagreen;
    padding: 20px 5px 20px 5px;
    border: 5px double black;
}

#instructions {
    
     
    font-family: Arial, Helvetica, sans-serif;  
    
    font-size: 18px;
}

#instructions p {
    margin-bottom: 20px;
}
#row {
    margin: 10px 10% 10px 10%; 
    
}

#row #target {
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    width: 80%;
    height: 175px;
    font-size: 150px;
    border: 2px solid black;
    margin-right: 15px;
    padding: 10px 0px 0px 10px;
}

#row #winLose {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    vertical-align: top;
    width: 15%;
    height: 175px;
    font-size: 20px;
    flex-wrap: wrap;
    padding: 5px 0px 0px 5px;
    border: 2px solid black;
}

#wins {
    margin-bottom: 10px;
}

/* photos sourced from https://www.iconfinder.com/search/?q=jewel&price=free */
.btn-group {
    margin: 10px 20% 10px 20%;
    align-content: center;
    padding-left: 45px;
}

#btn1, #btn2, #btn3, #btn4 {
    width: 150px;
    height: 150px;
    overflow: auto;
    align-content: center;
}

#scoreText {
    background-color: dodgerblue;
    font-family: 'Vast Shadow', cursive;
    display: inline-block;
    margin: 10px 40% 10px 40%;
    width: 275px;
    height: 70px;
    color: black;
    font-size: 30px;
    padding: 5px 0px 0px 5px;
    border: 2px solid black;
    overflow: auto;
}

#score {
    background-color: dodgerblue;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 275px;
    height: 175px;
    padding: 5px 0px 0px 5px;
    font-size: 30px;
    margin: 10px 40% 10px 40%;
    border: 2px solid black;
}

